/*font*/
$font-head:	'Lato', sans-serif;
$font-body: 'Merriweather Sans', sans-serif;
$logo: 'Josefin Sans', sans-serif;

$h1-font-size: 4.50em;
$h2-font-size: 2.2em;
$p-font-size: 1.50em;

/*color*/
$darkBlue: #11132F;
$lightBlue: black;
$darkGreen: #4A6B4E;
$lightGreen: #918E45;
$red: #cc0000;
